// Define styles for the main content area
.app {
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

:root {
  --background-color: #181818;
  --background-secoudary-color: #24292e;
  --text-color: #e1e4e8;
  --text-secoudary-color: #8b949e;

  --link-color: #0366d6;
  --border-color: #e1e4e8;
  --header-background-color: #24292e;
  --header-text-color: #ffffff;
  // 定義顏色變數
  --color-open: rgb(170, 170, 170);
  --color-progress: #f00;
  --color-done: rgb(3, 166, 3);

  --color-shadow-medium: 0 3px 6px #010409;
}
